<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Private Messaging</title>
  </head>
  <body>
    <%- include("partials/header") %>

    <div>
      <a href="/createAccount">Create Account</a>
      <a href="/login">Login</a>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
